/* ./static/css/style.css */

body {
    font-family: 'Roboto', sans-serif;
}

.card {
    border: none;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

#predict-btn .spinner-border {
    margin-right: 5px;
}